@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fgrok: var(--font-fgrok);
  --font-graphik: var(--font-graphik);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-graphik);
}

.font-fgrok {
  font-family: var(--font-fgrok);
}

.font-graphik {
  font-family: var(--font-graphik);
}
